<meta charset="UTF-8">
<title>SP Paperless Session</title>

<!-- CSS (load bootstrap from a CDN) -->
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="/scripts/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/scripts/dist/css/adminlte.min.css">
<link rel="stylesheet" href="/scripts/plugins/iCheck/flat/blue.css">
<link rel="stylesheet" href="/scripts/plugins/morris/morris.css">
<link rel="stylesheet" href="/scripts/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
<link rel="stylesheet" href="/scripts/plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="/scripts/plugins/daterangepicker/daterangepicker-bs3.css">
<link rel="stylesheet" href="/scripts/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
