<!DOCTYPE html>
<html lang="en">

<head>
   
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=562129067844961&autoLogAppEvents=1" nonce="siiuZ7kU"></script>
    <div class="fb-page" data-href="https://www.facebook.com/lgubukidnon/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/lgubukidnon/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/lgubukidnon/">Provincial Government of Bukidnon</a></blockquote></div>
</body>
</html>